---
// component imports
import Layout from "@/layouts/Layout.astro";
---

<Layout 
  title="Página no encontrada - Iratxe Conde - Publicista y Diseñadora Gráfica"
  description="Lo sentimos, la página que buscas no existe. Regresa al inicio para explorar el portafolio y los proyectos de Iratxe Conde, publicista y diseñadora gráfica en Bilbao."
>
  <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
    <div>
      <h2>Esto es raro!</h2>
      <p>Parece que hemos traspapelado algo</p>
    </div>
    <a class="bg-primary px-4 py-2 rounded w-auto text-background hover:bg-primaryHover font-semibold" href="/"> Volver al principio</a> 

  </div>
</Layout>