---
// component imports
import LinkinLine from "@/components/LinkinLine.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Pagina no encontrada" description="Esta pagina no se ha encontrado">
  <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
    <div>
      <h2>Esto es raro!</h2>
      <p>Parece que hemos traspapelado algo</p>
    </div>
    <a class="bg-primary px-4 py-2 rounded w-auto text-background hover:bg-primaryHover font-semibold" href="/"> Volver al principio</a> 

  </div>
</Layout>