---
import SobreMi from "@/components/SobreMi.astro";
import Layout from "@/layouts/Layout.astro";
import Heading from "@/components/Heading.astro";
import Experience from "@/components/Experience.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Studies from "@/components/Studies.astro";
import SocialPills from "@/components/SocialPills.astro";
import ProfileSections from "@/components/ProfileSections.astro";

//Icons
import Briefcase from "@/components/icons/Briefcase.astro";
import School from "@/components/icons/School.astro";

const pageTitle = "Sobre Mí - Iratxe Conde - Publicista y Diseñadora Gráfica";
const pageDescription = "Conoce a Iratxe Conde, publicista y diseñadora gráfica especializada en Realización Multimedia y Branding. Descubre su trayectoria profesional, experiencia laboral, formación académica y su pasión por el diseño y la publicidad.";
const pageKeywords = "Iratxe Conde biografía, Publicista y diseñadora gráfica en Bilbao, Experiencia en diseño gráfico, Estudios en realización multimedia, Branding y diseño de marca, Trayectoria profesional de Iratxe Conde, Perfil creativo, Diseñadora gráfica freelance en Bilbao, Especialista en publicidad y diseño, Curriculum Vitae Iratxe Conde, Servicios de branding en Bilbao";
const ogImage = "/SobreMi.webp";

---


<Layout 
  title={pageTitle}
  description={pageDescription}
  keywords={pageKeywords}
  ogImage={ogImage}
>
    <Heading title="Sobre Mí" />
    
    <!-- Hero Section -->
    <SobreMi />
    <div class="w-full h-auto flex justify-center items-center align-middle py-5">
        <a class="bg-primary px-4 py-2 rounded w-auto text-background hover:bg-primaryHover font-semibold inline-flex items-center align-middle" href="/Profile.pdf" target="_blank">Descargar Curriculum Vitae
            <svg  class="size-5 ms-3" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-download"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 11l5 5l5 -5" /><path d="M12 4l0 12" /></svg>
        </a> 
    </div>

    <SectionContainer backgroundImage="/imgs/Fondo1.webp">
        <h2 class="flex items-center gap-x-3 justify-center pb-0"> 
            <Briefcase class="size-8" />
            Experiencia Laboral</h2>
        <Experience />
    </SectionContainer>
    <br>
    <SectionContainer backgroundImage="/imgs/Fondo2.webp">
        <h2 class="flex items-center gap-x-3 justify-center  py-0 pb-2"> 
            <School class="size-9" />
            Estudios</h2>
        <Studies />
    </SectionContainer>
    <br>
    <SectionContainer backgroundImage="/imgs/Fondo3.webp">
        <ProfileSections/>
    </SectionContainer>

    <SocialPills/>
</Layout>