---
import SobreMi from "@/components/SobreMi.astro";
import Layout from "@/layouts/Layout.astro";
import Heading from "@/components/Heading.astro";
import Experience from "@/components/Experience.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Studies from "@/components/Studies.astro";

//Icons
import Briefcase from "@/components/icons/Briefcase.astro";
import School from "@/components/icons/School.astro";
---

<Layout title="Sobre Mí - Iratxe Conde" description ="Experiencia laboral y estudios de Iratxe Conde.">
    <Heading title="Sobre Mí" />
    <!-- Hero Section -->
    <SobreMi />
    <SectionContainer>
        <h2 class="flex items-center mb-6 gap-x-3 justify-center"> 
            <Briefcase class="size-8" />
            Experiencia Laboral</h2>
        <Experience />
    </SectionContainer>
    <SectionContainer>
        <h2 class="flex items-center mb-6 gap-x-3 justify-center"> 
            <School class="size-9" />
            Estudios</h2>
        <Studies />
    </SectionContainer>

    <SectionContainer>
        <h3>Aptitudes y habilidades</h3>
        <p> Aptitudes</p>
        <h3>Herramientas</h3>
        <p> Herramientas</p>
        <h3>Certificados</h3>
        <p> Certificados</p>
        <h3>Idiomas</h3>
        <p> Castellano</p>
    </SectionContainer>
    
</Layout>