---
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio de diseño - Iratxe Conde">
    <Heading title="Portfolio de diseño"/>
    <section class="h-screen bg-cover bg-center bg-fixed" style="background-image: url('/imgs/atardecer.webp');">
        <div class="flex items-center justify-center h-full">
            <h1 class="text-white text-md md:text-lg lg:text-4xl font-bold text-center px-4 w-[30%] text-pretty">
                La pasión, la constancia y la dedicación como motores principales de mis trabajos
            </h1>
        </div>
    </section>    
    <section>
        <h5>¡Bienvenidos/as a mi web personal!</h5>
        <p>Soy Iratxe Conde Turón, publicista y diseñadora gráfica. He creado este espacio para hacer llegar mis proyectos a todas aquellas personas interesadas. Por tanto, esta web funcionará como mi portfolio digital <a href="#" class="font-bold text-primary hover:underline">portfolio digital</a>.</section></h5>
    
</Layout>

