---
import VerticalSection from '@/components/VerticalSection.astro';
import Layout from '../layouts/Layout.astro';
import Galeria from '@/components/Galeria.astro';

//Json de imagenes
import images from '@/images.json';

//Array de valores que controlan el posicionamiento
const GaleriaPrincipal = [57,207,18,62,227,168,239,230,63,144,96,107];
const filteredImages = images.filter(image => GaleriaPrincipal.includes(image.id));

---

<Layout title="Portafolio de Iratxe Conde - Publicista y Diseñadora Gráfica" description ="Descubre el portafolio de Iratxe Conde, publicista y diseñadora gráfica con experiencia en multimedia y branding. Conoce sus proyectos y habilidades creativas.">
  <!-- Contenedor con el fondo fijo -->
  <section class="relative h-screen max-h-[600px] overflow-hidden">
    <div class="absolute inset-0 w-full h-full bg-cover bg-center bg-fixed" style={`background-image: url(/atardecer.webp); background-position: center top 20%;`}>
    </div>
    <div class="flex items-center justify-center h-full relative z-10 bg-black bg-opacity-5 ">
      <h1 class="text-white text-3xl lg:text-4xl font-bold text-center px-10 text-pretty max-w-xl">
        La pasión, la constancia y la dedicación como motores principales de mis trabajos
      </h1>
    </div>
  </section>
    
  <VerticalSection>
    <img src="/imgs/Frontal.webp" alt="Primer plano de iratxe" class="w-full h-auto object-cover" slot="leftContent">

    <section class="px-10 flex flex-col items-center justify-center" slot="rightContent">
        <h5 class="font-bold pb-4 mx-auto items-center text-2xl">¡Bienvenidos/as a mi web personal!</h5>
        <p>Soy Iratxe Conde Turón, publicista y diseñadora gráfica. He creado este espacio para hacer llegar mis proyectos a todas aquellas personas interesadas. Por tanto, esta web funcionará como mi <a href="/portfolio/" class="font-bold text-primary hover:underline">portfolio digital</a>.</p>
    </section>
  </VerticalSection>

  <VerticalSection reverseOnSmall={true}>
    <section class="px-10 flex flex-col items-center justify-center" slot="leftContent">
      <p>Soy una bilbaína de 24 años a la que le apasiona la publicidad, el mundo digital y el diseño gráfico. Me caracterizo por mi proactividad, versatilidad, organización y entusiasmo, y me esfuerzo en todo momento por garantizar buenos trabajos. Me gusta trabajar en equipo y estar en constante aprendizaje.</p>
  
      <p>Gracias a mis estudios y habilidades, soy capaz de aportar soluciones creativas adaptadas a las necesidades de cada cliente. Igualmente, domino múltiples herramientas y plataformas digitales, aprendo con especial facilidad y tengo una visión estratégica y operativa.</p>
  
      <a class="bg-primary px-4 py-2 rounded w-auto text-background hover:bg-primaryHover font-semibold" href="/about/"> Saber más</a> 
    </section>
    <img src="/imgs/AtardecerPuente.webp" alt="Imagen con atardecer en un puente de fondo" class="w-full h-auto object-cover" slot="rightContent">

  </VerticalSection>

  
  <img src="/imgs/Titulos.webp" alt="Listado de cosas que puedo hacer" class="w-full h-auto object-cover max-h-96">

  <section class="flex flex-col items-center justify-center">
    <h2> Galería de proyectos</h2>
    <Galeria images={filteredImages} columns={4}/>
    <a class="bg-primary px-4 py-2 rounded w-auto text-background hover:bg-primaryHover font-semibold" href="/proyectos/">Ver portfolio</a> 
  </section>
</Layout>
