---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';

import Image from 'astro/components/Image.astro';
//Imagenes
import camuflajedef from '@/images/camuflaje-def.png';
import camuflajeinspo from '@/images/camuflaje-inspo.jpg';
---


<Layout title="Portfolio de diseño - Iratxe Conde" description=''>
    <Heading title="Proyectos"/>
    <h2>Branding</h2>
    // Triple columna de las marcas

    <h2>Diseños e ilustraciones</h2>
    // Grid de diseños e ilustraciones
    <h2>Publicidad</h2>
    // Grid de publicidad
    <h2>Ilustraciones de retratos</h2>
    //Massonry grid con imagenes


    
    <two-up class="w-1/2 mx-auto">
        <div class="flex-1 h-full">
            <Image 
                src={camuflajedef} 
                alt="Camuflaje ilustración"
                class="w-full h-full object-cover" 
                format="webp" 
                width={1000} 
                quality={"high"}
            />
        </div>
        <div class="flex-1 h-full">
            <Image 
                src={camuflajeinspo} 
                alt="Camuflaje inspiración"
                class="w-full h-full object-cover" 
                format="webp" 
                width={1000} 
                quality={"high"}
            />
        </div>
    </two-up>
    
    <script type="module" src="https://unpkg.com/two-up-element"></script>

</Layout>