---
import SocialPills from './SocialPills.astro'
---

<style>
    .bg-custom-image {
        background-image: url('/Fondo-Contact.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }
</style>
 
<section class="relative bg-custom-image py-8">
    <!-- Superposición oscura -->
    <div class="absolute inset-0 bg-black opacity-40"></div>
    
    <div class="relative container mx-auto flex flex-col md:flex-row justify-between items-start px-4 md:px-0 max-w-2xl lg:max-w-5xl">
        <!-- Lado Izquierdo -->
        <div class="md:w-1/2 pr-4 text-center md:text-left">
            <div class="text-lg font-semibold text-white mb-4">
                ¿Hablamos?
            </div>
            <p class="text-white mb-4">
                No dudes en ponerte en contacto conmigo mediante el siguiente formulario o enviándome un mensaje directamente al email. A continuación también puedes encontrar mis redes sociales.
            </p>
            <SocialPills/>
        </div>
        <!-- Lado Derecho -->
        <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center w-full">
            <form class="space-y-4 w-full max-w-md">
                <div>
                    <label for="nombre" class="block text-white font-bold">Nombre <span class="font-thin">(obligatorio)</span></label>
                    <input type="text" id="nombre" name="nombre" class="mt-1 w-full border border-gray-300 p-2 rounded placeholder-gray bg-background" placeholder="Introduce tu nombre" required>
                </div>
                <div>
                    <label for="email" class="block text-white font-bold">Email <span class="font-thin">(obligatorio)</span></label>
                    <input type="email" id="email" name="email" class="mt-1 w-full border border-gray-300 p-2 rounded placeholder-gray bg-background" placeholder="Introduce tu email" required>
                </div>
                <div>
                    <label for="telefono" class="block text-white font-bold">Teléfono</label>
                    <input type="tel" id="telefono" name="telefono" class="mt-1 w-full border border-gray-300 p-2 rounded placeholder-gray bg-background" placeholder="Introduce tu teléfono">
                </div>
                <div>
                    <label for="asunto" class="block text-white font-bold">Asunto <span class="font-thin">(obligatorio)</span></label>
                    <input type="text" id="asunto" name="asunto" class="mt-1 w-full border border-gray-300 p-2 rounded placeholder-gray bg-background" placeholder="Introduce el asunto" required>
                </div>
                <div>
                    <label for="mensaje" class="block text-white font-bold">Mensaje <span class="font-thin">(obligatorio)</span></label>
                    <textarea id="mensaje" name="mensaje" class="mt-1 w-full border border-gray-300 p-2 rounded placeholder-gray bg-background" rows="5" placeholder="Introduce tu mensaje" required></textarea>
                </div>
                <div>
                    <button type="submit" class="bg-primary px-4 py-2 rounded w-auto text-background hover:bg-primaryHover">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</section>
