<!-- Footer -->
<footer class="bg-white py-4 max-w-5xl mx-auto">
  <div class="container mx-auto flex flex-col-reverse md:flex-row justify-between items-center">
      <a class="text-lg font-semibold text-foreground mt-4 md:mt-0 hover:text-primaryHover" href="/">
          Iratxe Conde
      </a>
      <div class="space-x-6 text-foreground mb-4 md:mb-0">
          <a href="https://www.instagram.com/iratxe_design" class="hover:text-primaryHover" target="_blank" rel="noopener noreferrer">Instagram</a>
          <a href="https://www.linkedin.com/in/iratxeconde/" class="hover:text-primaryHover" target="_blank" rel="noopener noreferrer">LinkedIn</a>
          <a href="https://www.behance.net/iratxeconde" class="hover:text-primaryHover" target="_blank" rel="noopener noreferrer">Behance</a>
      </div>
  </div>
</footer>
