<nav class="bg-white py-4 mx-auto max-w-6xl px-2">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <div class="flex flex-col items-start md:items-start sm:justify-items-center sm:items-center w-max">
            <a class="text-2xl font-black text-foreground hover:text-primaryHover" href="/">
                Iratxe Conde
            </a>
            <div class="text-base  text-foreground">
                Publicista y diseñadora gráfica
            </div>
        </div>
        <nav class="flex space-x-6 mt-4 md:mt-0 text-foreground font-bold">
            <a href="/proyectos/" class="hover:text-primaryHover"  rel="noopener noreferrer">Proyectos</a>
            <a href="/about/" class="hover:text-primaryHover"  rel="noopener noreferrer">Sobre mí</a>
            <a href="/contacto/" class="hover:text-primaryHover"  rel="noopener noreferrer">Contacto</a>
        </nav>
    </div>
</nav>