<section class="to-background py-8">
    <div class="container mx-auto flex flex-col md:flex-row items-center px-4 justify-center md:gap-10">
        <!-- Mitad Izquierda -->
        <div class="md:w-1/2 flex justify-center md:mb-0  max-w-sm ">
            <img src="/imgs/img-41.webp" alt="Primer plano de Iratxe Conde Turón" class="rounded-full aspect-square shadow-lg object-cover" loading="eager"
            width="2000" height="1333" title="Primer plano de Iratxe Conde Turón">
        </div>
        <!-- Mitad Derecha -->
        <div class="md:w-1/2 text-center md:text-left px-2 mx-auto sm:w-full sm:px-1 sm:mx-0">           
                <h2 class="text-primary text-3xl md:text-5xl font-bold mb-4 text-start">
                    Iratxe Conde Turón
                </h2>
                <a href="https://www.linkedin.com/in/iratxeconde" target="_blank"
                rel="noopener" class="bg-green-200 hover:bg-green-100 text-green-700 text-xs font-semibold me-2 px-2.5 py-0.5 rounded border border-green-500 inline-flex items-center justify-center">Disponible para trabajar</a>

            <p class="text-foreground mb-4 max-w-[60ch] text-xl sm:w-full">
                Soy graduada en Publicidad y Relaciones Públicas por la UPV/EHU con Mención en Realización Multimedia. Igualmente, me he especializado en diseño gráfico a través del Máster de Diseño, Identidad Visual y Construcción de Marca en la UOC.
            </p>
            <p class="text-foreground mb-4 max-w-[60ch] text-xl">
                Me apasiona el mundo digital, la publicidad y el diseño gráfico, así como la capacidad de poder transmitir conceptos clave a través de elementos visuales. Soy creativa, curiosa, versátil, proactiva, comprometida, organizada y resolutiva. Me gusta trabajar en equipo y estar en constante aprendizaje.
            </p>
            <p class="text-foreground mb-4 max-w-[60ch] text-xl">
                ¿Qué puedo aportar? Soluciones creativas, dominio de múltiples herramientas y plataformas digitales, y una visión estratégica y operativa.
            </p>
        </div>
    </div>
</section>