---
import about from '@/images/about.jpg'
import { Image } from 'astro:assets'
---


<section class="to-background py-8">
    <div class="container mx-auto flex flex-col md:flex-row items-center px-4 justify-center">
        <!-- Mitad Izquierda -->
        <div class="md:w-1/2 flex justify-center mb-8 md:mb-0  max-w-sm">
            <Image src={about} alt="Primer plano de Iratxe Conde Turón" class="rounded-full aspect-square shadow-lg object-cover" width={500} quality={"high"}>
        </div>
        <!-- Mitad Derecha -->
        <div class="md:w-1/2 text-center md:text-left px-4 mx-[5rem]">           
                <h1 class="text-primary text-3xl md:text-5xl font-bold mb-4">
                    Iratxe Conde Turón
                </h1>
                <a
                  href="https://linkedin.com/in/midudev"
                  target="_blank"
                  rel="noopener"
                  class="flex items-center transition md:justify-center md:hover:scale-105"
                >
                <a href="https://www.linkedin.com/in/iratxeconde" target="_blank"
                rel="noopener" class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded border border-blue-400 inline-flex items-center justify-center">Disponible para trabajar</a>

            <p class="text-foreground mb-4 max-w-[60ch] text-xl">
                Soy graduada en Publicidad y Relaciones Públicas por la UPV/EHU con Mención en Realización Multimedia. Igualmente, me he especializado en diseño gráfico a través del Máster de Diseño, Identidad Visual y Construcción de Marca en la UOC.
            </p>
            <p class="text-foreground mb-4 max-w-[60ch] text-xl">
                Me apasiona el mundo digital, la publicidad y el diseño gráfico, así como la capacidad de poder transmitir conceptos clave a través de elementos visuales. Soy creativa, curiosa, versátil, proactiva, comprometida, organizada y resolutiva. Me gusta trabajar en equipo y estar en constante aprendizaje.
            </p>
            <p class="text-foreground mb-4 max-w-[60ch] text-xl">
                ¿Qué puedo aportar? Soluciones creativas, dominio de múltiples herramientas y plataformas digitales, y una visión estratégica y operativa.
            </p>
        </div>
    </div>
</section>